Flask
Flask-SQLAlchemy
Flask-JWT-Extended
Flask-Mail
Flask-Cors
Flask-WTF
python-dotenv
psycopg2-binary
email-validator
email_validator
flask
flask-sqlalchemy
gunicorn
psycopg2-binary
requests
sqlalchemy
werkzeug
wtforms
email-validator
Flask
Flask-Cors
Flask-JWT-Extended
Flask-Mail
Flask-SQLAlchemy
Flask-WTF
gunicorn
psycopg2-binary
python-dotenv
requests
sqlalchemy
werkzeug
wtforms
